{% extends "template.html" %}

{% block headscript %}
{% endblock %}

{% block content %}
<div class="container-sm login-wrap">
    <h1 class="text-center">Shape Our Space</h1>
    <form class="items" action="{{ url_for('gather') }}" method="post">
            <input id="username" type="text" placeholder="Username" name="username">
            <input id="roomcode" type="text" placeholder="Room Code" name="room_code" value="{{ context.get('filled_room_code')|safe }}">
        <input type="submit" value="Submit">
    </form>
</div>

<nav class="navbar navbar-expand-md fixed-bottom justify-content-center main-bar">
    <span class="navbar-text text-center">
        Anshul Choudhary &centerdot; Biraj Dahal &centerdot; Harrison Hall &centerdot; Jacky Wong
    </span>
</nav>
{% endblock%}

{% block footscript %}

{% endblock %}
